<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corona</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">HFC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/map">Predict cases</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/hospital" tabindex="-1" aria-disabled="true">Emergency...Corona Hospital Search</a>
            </li>
          </ul>
          
        </div>
      </nav>
    </div>
    <h1 style="text-align: center;">About Corona</h1>
    <div>
        <img style="width:50%;height:50%;float: left;" src="assets/virus.jpg" alt="">
        <p><br>
            <br>
            The first case of the 2019–20 coronavirus pandemic in India was reported on 30 January 2020, originating from China. As of 20 April 2020, the Ministry of Health and Family Welfare have confirmed a total of 17,265 cases, 2,547 recoveries (including 1 migration) and 543 deaths in the country. Experts suggest the number of infections could be much higher as India's testing rates are among the lowest in the world. The infection rate of COVID-19 in India is reported to be 1.7, significantly lower than in the worst affected countries.

            The outbreak has been declared an epidemic in more than a dozen states and union territories, where provisions of the Epidemic Diseases Act, 1897 have been invoked, and educational institutions and many commercial establishments have been shut down. India has suspended all tourist visas, as a majority of the confirmed cases were linked to other countries.</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <h1 style="text-align: center;">Effect Of Corona</h1>
    <div>
        <img style="width:50%;height:50%;float: right;" src="assets/world.jpg" alt="">
        <p><br>
            <br><br>
            1)Visas cancelled for foreign nationals travelling from affected countries.
            <br><br>
            2)Ensuring availability of coronavirus drugs in India
            <br><br>
            3)Coronavirus is expected to present both opportunities and challenges to Indian pharmaceutical manufacturers, while trade with China is expected to be hit.<br>
            Initial estimates of the impact of coronavirus on India’s trade were $348m, but likely to increase given the global spread.
            </p>
    </div>
</body>
</html>