<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    
    <title>Map at a specified location</title>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <link rel="stylesheet" type="text/css" href="../css/map.css" />
    
     
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
  
  <body id="markers-on-the-map">
    
    <div id="map"></div>
    
    <div>
      <form action="/map" method="POST">
        <input type="text" id="result" name="result">
        <button type="submit">Predict</button>
        <label for=""></label>

      </form>
      <h1 style="text-align: center;">Steps To Predict Cases</h1>
      <h3 style="text-align: center;">1)Choose the approximate location on the map of which you want to find Corona positive cases. </h3>
      <h3 style="text-align: center;">2)Left Click to put a marker at your decided location</h3>
      <h3 style="text-align: center;">3)You may select multiple location and place marker over the locations</h3>
      <h3 style="text-align: center;">4)Once done, click on the predict button shown at the bottom of the map.</h3>
      <hr>
      <h1 style="text-align: center;">Limitations</h1>
      <h3 style="text-align: center;">Since the dataset was small, we get a value which remains constant for a large area.</h3>
      <hr>
      <h1 style="text-align: center;">Motto Of the Feature</h1>
      <h3 style="text-align: center;">To make people aware about their surrounding area and make them understand the seriousness of the pandemic Corona</h3>

    </div>
    <script type="text/javascript" src='../js/map1.js'></script>
    
  </body>
</html>