<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
</head>
<body>
    <style>
        #map {
    width: 95%;
    height: 450px;
    background: grey;
}

#panel {
    width: 100%;
    height: 400px;
}
    </style>
    <div id="map"></div>
    
    <div>
        <%var d = nn;%>
        
        <script>

            var a=0;
            var b=0;
            
            
            if(navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(position => {
                                a=position.coords.latitude;
                                b=position.coords.longitude;
                            
            
            
            
            function moveMapToBerlin(map){
              map.setCenter({lat:a, lng:b});
              map.setZoom(14);
            }
            
            /**
             * Boilerplate map initialization code starts below:
             */
            
            //Step 1: initialize communication with the platform
            // In your own code, replace variable window.apikey with your own apikey
            var platform = new H.service.Platform({
              apikey: 'ltV5uwSWWnCsM1AbSv92aSfNKtNZ6a-GCtIiJ-6-d_0'
            });
            var defaultLayers = platform.createDefaultLayers();
            
            //Step 2: initialize a map - this map is centered over Europe
            var map = new H.Map(document.getElementById('map'),
              defaultLayers.vector.normal.map,{
              center: {lat:a, lng:b},
              zoom: 4,
              pixelRatio: window.devicePixelRatio || 1
            });
            // add a resize listener to make sure that the map occupies the whole container
            window.addEventListener('resize', () => map.getViewPort().resize());
            
            //Step 3: make the map interactive
            // MapEvents enables the event system
            // Behavior implements default interactions for pan/zoom (also on mobile touch environments)
            var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
            
            // Create the default UI components
            var ui = H.ui.UI.createDefault(map, defaultLayers);
            
            // Now use the map as required...
            window.onload = function () {
              moveMapToBerlin(map);
              addMarkersToMap(map);
            } 
            var f=<%-JSON.stringify(d)%>
            console.log(f);
            
            function addMarkersToMap(map) {
    parisMarker = new H.map.Marker({lat: a, lng: b });
      
                map.addObject(parisMarker);
                
                for(var i=0;i<(f.length);i=i+1)
                {
                    var dd=new H.map.Marker({lat:f[i].position[0], lng:f[i].position[1]});
                    map.addObject(dd);
                }
            }
            });}
              </script>
</body>

</html>